<%- include('partials/encabezado.ejs') %>
<%- include('partials/navegador.ejs') %>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id nulla neque totam culpa mollitia ab nemo. Minus, et expedita. At quia voluptates odit veniam! Reprehenderit excepturi tenetur veritatis hic error?
</p>

<%- include('partials/pie.ejs') %>

